<?xml version="1.0"?>
<launch>
	
	<arg name="IS_CP" default="false"/>
	<arg name="DESIRED_SPEED" default="4.0"/>
	<!--arg name="WAYPOINTS_FILE" default="circlefixed_example.dat"/-->
	<arg name="WAYPOINTS_FILE" default="odom_waypoints.dat"/>
	<!--param name="location" value="$(find vehicle_controllers)"/-->

	<group unless="$(arg IS_CP)">
		<node pkg="vehicle_controllers" type="long_control" name="long_control_node" output="screen">
			<param name="desired_speed" value="$(arg DESIRED_SPEED)"/>
		</node>
		<node pkg="vehicle_controllers" type="lat_control" name="lat_control_node" cwd="node">
			<param name="waypoints_file" value="$(arg WAYPOINTS_FILE)"/>
		</node>
	</group>

	<group if="$(arg IS_CP)">
		<node pkg="vehicle_controllers" type="collect_waypoints" name="waypoint_collection_node" output="screen">
			<param name="waypoints_file" value="$(arg WAYPOINTS_FILE)"/>
		</node>	
	</group>

	
</launch>
